h1 {
	font-family: "Permanent Marker", cursive;
	font-weight: 400;
	font-style: normal;
	font-size: 70px;
	color: #e57f3d;
}

h2 {
	font-family: "Poetsen One", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 70px;
	overlay: visible;
	color: #008080;
	text-wrap: wrap;
}


#main-img {
	border-radius: 50%;
	padding-top: 20px;
	padding-right: 20px;

}

#main-left {
	float: left;
	height: 100%;
	width: 600px;
}

#main-right {
	width: 600px;
	height: 100%;
	float: right;
	display: flex;
	flex-direction: column;
}
