html,
body {
	background-color: white;
}

#main {
	justify-content: center;
}

#content {
	width: 1200px;
}

#petTable {
	display: inline-block;
	border: 1px solid #000;
	width: 600px;
	table-layout: fixed;
}

#imgTable {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

#petTable>tbody>tr>th {
	background-color: #fcf9ec;
	color: #008080;
}

#petTable>tbody>tr>#pet {
	width: 150px;
}

#petTable>tbody>tr>#type {
	width: 75px;
}

#petTable>tbody>tr>#age {
	width: 125px;
}

#petTable>tbody>tr>#location {
	width: 250px;
}

#petImage {
	display: inline-block;
}

#petsHeading>h1 {
	font-weight: bold;
}

#petsHeading>* {
	text-align: center;
}
