/*Global stylesheet*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Permanent+Marker&family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Permanent+Marker&family=Poetsen+One&family=Ysabeau+SC:wght@1..1000&display=swap');

body,
html {
	margin: 0;
	padding: 0;
	background-color: #fcf9ec;
}

body {
	display: flex;
	flex-flow: column;
	height: 100%;
}

* {
	font-family: "Ysabeau SC", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

#hd {
	background-color: #008080;
	width: 100%;
	flex: 0 1 auto;
}

#nav {
	padding-left: 25px;
	padding-right: 25px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nav-span {
	vertical-align: middle;
	height: 60px;
	align-items: center;
	justify-content: center;
}

.nav-item {
	margin-top: 17.5px;
	height: 25px;
}

#nav-left,
#nav-right {
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

#nav-search {
	width: 25px;
	height: 25px;
	display: inline-block;
	margin-left: 5px;
}

#nav-select {
	margin-left: 10px;
	margin-right: 10px;
}

#logo {
	padding: 5px 0px 5px 0px;
	height: 50px;
	width: 50px;
}

#main {
	width: 100%;
	display: flex;
	flex-flow: row;
	justify-content: center;
}

#content {
	height: 100%;
	width: 1200px;
	display: flex;
	flex-flow: column;
	align-items: center;

}

#ft {
	background-color: #e57f3d;
	position: absolute;
	bottom: 0;
	width: 100%;
	display: flex;
	justify-content: center;
	flex: 0 1 60px;
}

.ft-item {
	height: 100%;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

/* @INFO index.html styling */

#indexTitle,
#indexTitleImgContainer {
	display: inline-block;
	width: 600px;
}

#indexTitleImgContainer {
	float: right;
}

#indexTitleImg {
	border-radius: 50%;
	padding-top: 20px;
	padding-right: 20px;
}

#indexTitle>h1 {

	font-family: "Permanent Marker", cursive;
	font-weight: 400;
	font-style: normal;
	font-size: 70px;
	color: #e57f3d;
}

#indexTitle>h2 {
	font-family: "Poetsen One", sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 70px;
	overlay: visible;
	color: #008080;
	text-wrap: wrap;

}


/* pets.html styling */

#petTable {
	display: inline-block;
	border: 1px solid #000;
	width: 600px;
	table-layout: fixed;
}

#imgTable {
	width: 1200px;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
}

#petTable>tbody>tr>th {
	background-color: #fcf9ec;
	color: #008080;
}

#petTable>tbody>tr>#pet {
	width: 150px;
}

#petTable>tbody>tr>#type {
	width: 75px;
}

#petTable>tbody>tr>#age {
	width: 125px;
}

#petTable>tbody>tr>#location {
	width: 250px;
}

#petImage {
	display: inline-block;
}

#petsHeading>h1 {
	font-weight: bold;
}

#petsHeading>* {
	text-align: center;
}
